/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Montserrat", sans-serif;
  vertical-align: baseline;
  line-height: 1.75;
}
/* END RESET */

html {
  background-color: #FAF9F9;
  height: 100%;
  width: 100%;
}

header {
  height: 100%;
  width: 100%;
}

main {
  background: #FFFFFF;
  height: 100%;
  width: 100%;
}
